
body {
  margin: 0;
  padding: 0;
  background-color: #dedede;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #000000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: crimson;
}

#fileInput {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  background-color: crimson;
  border-radius: 50px;

}

nav {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  }
  
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
  nav li {
  margin: 0 10px;
  }
  
  nav a {
  color: white;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  }
  
  nav a:hover {
  background-color:crimson;
  color: white;
  }
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-container button {
  margin-left: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;

}